Host:     {{HOSTNAME}} ({{HOSTALIAS}})
Address:  {{HOSTADDRESS}} {{HOSTLINK}}
{{#HOSTNOTESURL}}More Info: {{HOSTNOTESURL}}{{/HOSTNOTESURL}}

State:    {{LASTHOSTSTATE}} -> {{HOSTSTATE}} ({{NOTIFICATIONTYPE}}) since {{LASTHOSTSTATECHANGE_REL}}
Output:   {{HOSTOUTPUT}}
Perfdata: {{HOSTPERFDATA}}
{{LONGHOSTOUTPUT}}

{{#NOTIFICATIONCOMMENT}}Comment by {{NOTIFICATIONAUTHORALIAS}} ({{NOTIFICATIONAUTHORNAME}}):
    {{NOTIFICATIONCOMMENT}}

{{/NOTIFICATIONCOMMENT}}
{{#HOSTCUSTOMNOTES}}
Custom Host Notes:
{{{HOSTCUSTOMNOTES}}}

{{/HOSTCUSTOMNOTES}}
