Host:     {{HOSTNAME}} ({{HOSTALIAS}})
Address:  {{HOSTADDRESS}}
{{HOSTLINK}}
State:    {{LASTHOSTSTATE}} -> {{HOSTSTATE}} ({{NOTIFICATIONTYPE}}) since {{LASTHOSTSTATECHANGE_REL}}
Output:   {{HOSTOUTPUT}}
Perfdata: {{HOSTPERFDATA}}
{{LONGHOSTOUTPUT}}
