{{> head_html}}
<table>
<tr class="even0">
    <th colspan=2>Object Information</th>
</tr>
<tr class="odd0">
    <td class=left>Name</td>
    <td>{{{LINKEDHOSTNAME}}} ({{HOSTALIAS}})</td>
</tr>
<tr class="even0">
    <td class=left>Address</td>
    <td>{{HOSTADDRESS}}</td>
</tr>
<tr>
    <th colspan=2>State</th>
</tr>
<tr class="odd0">
    <td class=left>State</td>
    <td class="state">
        <span class="hstate{{LASTHOSTSTATE}}">{{LASTHOSTSTATE}}</span> &rarr;
        <span class="hstate{{HOSTSTATEID}}">{{HOSTSTATE}} ({{NOTIFICATIONTYPE}})</span>
        since {{LASTHOSTSTATECHANGE_REL}}
    </td>
</tr>
<tr class="even0">
    <td class="left">Output</td>
    <td>{{HOSTOUTPUT}}</td>
</tr>
{{#LONGHOSTOUTPUT}}
    <tr class="odd0">
        <td class="left">Long output</td>
        <td>{{{LONGHOSTOUTPUT}}}</td>
    </tr>
{{/LONGHOSTOUTPUT}}
{{#NOTIFICATIONCOMMENT}}
    <tr>
        <th colspan="2">Comment</th>
    </tr>
    <tr class="odd0">
        <td class="left">Text</td>
        <td>{{NOTIFICATIONCOMMENT}}</td>
    </tr>
    <tr class="even0">
        <td class="left">Author</td>
        <td>{{NOTIFICATIONAUTHORALIAS}} ({{NOTIFICATIONAUTHORNAME}})</td>
    </tr>
{{/NOTIFICATIONCOMMENT}}
{{#HOSTCUSTOMNOTES}}
    <tr>
        <th colspan="2">Custom Host Notes</th>
    </tr>
    <tr class="odd0">
        <td colspan="2">{{{HOSTCUSTOMNOTES}}}</td>
    </tr>
{{/HOSTCUSTOMNOTES}}
{{{GRAPH_CODE}}}
</table>
{{#HOST_URL}}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
    "@type": "EmailMessage",
    "description": "Host {{HOSTNAME}} is {{HOSTSTATE}}",
  "potentialAction": {
    "@type": "ViewAction",
    "target": "{{HOST_URL}}",
    "name": "Show host"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Check_MK",
    "url": "{{BASE_URL}}"
  }
}
</script>
{{/HOST_URL}}
{{> foot_html}}
