Host:     {{HOSTNAME}} ({{HOSTALIAS}})
Address:  {{HOSTADDRESS}}{{HOSTLINK}}
{{#HOSTNOTESURL}}More Info: {{HOSTNOTESURL}}{{/HOSTNOTESURL}}

Service:  {{SERVICEDESC}}{{SERVICELINK}}
State:    {{LASTSERVICESTATE}} -> {{SERVICESTATE}} ({{NOTIFICATIONTYPE}}) since {{LASTSERVICESTATECHANGE_REL}}
Output:   {{SERVICEOUTPUT}}
Perfdata: {{SERVICEPERFDATA}}
{{LONGSERVICEOUTPUT}}
{{#NOTIFICATIONCOMMENT}}

{{#SERVICENOTESURL}}More Info: {{SERVICENOTESURL}}

{{/SERVICENOTESURL}}
Comment by {{NOTIFICATIONAUTHORALIAS}} ({{NOTIFICATIONAUTHORNAME}}):
    {{NOTIFICATIONCOMMENT}}
{{/NOTIFICATIONCOMMENT}}
