Host:     {{HOSTNAME}} ({{HOSTALIAS}})
Address:  {{HOSTADDRESS}}{{HOSTLINK}}
{{#HOSTNOTESURL}}More Info: {{HOSTNOTESURL}}{{/HOSTNOTESURL}}

Service:  {{SERVICEDESC}}{{SERVICELINK}}
State:    {{LASTSERVICESTATE}} -> {{SERVICESTATE}} ({{NOTIFICATIONTYPE}}) since {{LASTSERVICESTATECHANGE_REL}}
Output:   {{SERVICEOUTPUT}}
Perfdata: {{SERVICEPERFDATA}}
{{LONGSERVICEOUTPUT}}

{{#SERVICENOTESURL}}More Info: {{SERVICENOTESURL}}

{{/SERVICENOTESURL}}
{{#NOTIFICATIONCOMMENT}}Comment by {{NOTIFICATIONAUTHORALIAS}} ({{NOTIFICATIONAUTHORNAME}}):
    {{NOTIFICATIONCOMMENT}}

{{/NOTIFICATIONCOMMENT}}
{{#HOSTCUSTOMNOTES}}
Custom Host Notes:
{{{HOSTCUSTOMNOTES}}}

{{/HOSTCUSTOMNOTES}}
{{#SERVICECUSTOMNOTES}}
Custom Service Notes:
{{{SERVICECUSTOMNOTES}}}

{{/SERVICECUSTOMNOTES}}